.answer-container {
    background: #ffffff;
    padding: 1rem 2rem;
    margin: 3rem 2rem;
    box-shadow: 0.25rem 0.25rem 0.5rem #0000002c;
    list-style: none;
    text-align: left;
}

.answer-title {
    
}

.answer-body {

}

.answer-solution {

}

.answer-date {

}