.header-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  border-bottom: 0.1rem solid #595c595d;
}

.header-format {
  color: #684ff7;
  padding-left: 2rem;
  font-weight: 900;
}

.search-format {
  width: 85%;
  border: 0.15rem solid;
  border-radius: 0.2rem;
  border-color: #68628c;
  opacity: 0.5;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-link {
  margin-top: 2rem;
}

.login-format {
  color: white;
  border-radius: 0.2rem;
  background-color: #684ff7;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0rem 0.125rem;
  margin-right: 2rem;
  cursor: not-allowed;
}

.dashboard-format {
  color: white;
  border-radius: 0.2rem;
  background-color: #68628c;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0rem 0.125rem;
  margin-right: 2rem;
  cursor: not-allowed;
}
