@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

* {
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
}

.error {
  font-weight: bold;
  color: red;
}
