.form-format {
  display: inline-block;
  margin: 1rem;
  text-align: left;
}

.filter-format {
  display: inline-block;
  width: fit-content;
  border-color: #595c5977 !important;
  border: 0.15rem solid;
  border-radius: 0.2rem;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
