.question-container {
    background: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.625rem;
    margin: 3rem 2rem;
    box-shadow: 0.25rem 0.25rem 0.5rem #00000069;
    list-style: none;
  }

.link-format {
    display: block;
    width: fit-content;
    font-weight: 900;
    color: #20bd59;
    border-color: #20bd59 !important;
    border: 0.15rem solid;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.link-format:hover {
    text-shadow: 0.25rem 0.25rem 0.5rem #00000069;
    background-color: #dfdfdf;
    font-size: 1.5rem;
    font-style: italic;
    cursor: pointer;
}

ul {
    padding-left: 0;
}