@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
}

.title-format {

 }
.summary-format {
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.topic-format {
    font-size: 0;
}