.question-container {
    background: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.625rem;
    margin: 3rem 2rem;
    box-shadow: 0.25rem 0.25rem 0.5rem #00000069;
    list-style: none;
  }

.link-format {
    display: block;
    width: fit-content;
    font-weight: 900;
    color: black;
    border-color: #68628c !important;
    opacity: 0.5;
    border: 0.15rem solid;
    border-radius: 0.2rem;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

ul {
    padding-left: 0;
}