@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

.question-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem, 5rem, 1fr;
  grid-template-areas:
    "title title"
    "topic isanswered"
    "summary summary";
}

.title-format {
  font-family: "Poppins";
  text-align: center;
  padding-left: 1rem;
  color: #68628c;
  grid-area: title;
}

.solved-format {
  border: solid;
  color: white;
  border-color: #20bd59;
  background: #20bd59;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: fit-content;
}

.answer-format {
  display: grid;
  justify-content: center;
  grid-area: isanswered;
}

.not-answered-format {
  border: solid;
  color: #ff5555;
  border-color: #ff5555;
  background: white;
  border-radius: 0.3rem;
  padding: 0.25rem;
  width: fit-content;
}

.summary-format {
  font-family: "Poppins";
  text-align: left;
  padding: 1rem;
  color: #68628c;
  grid-area: summary;
}

.topic-format {
  font-family: "Poppins";
  grid-area: topic;
  font-style: italic
}

@media (min-width: 50rem){
  .question-grid {
    grid-template-columns: 1fr 10rem;
    grid-template-rows: 3rem, 1fr;
    grid-template-areas:
    "title isanswered"
    "summary topic";

  }

}